@import url("http://fnt.webink.com/wfs/webink.css/?project=ECF82ED8-31FF-4A76-87A0-A44560EC465D&fonts=C3800308-338C-D99D-F242-61AFA4B1DF83:f=ArnhemPro-Bold,2AA35A4E-ED48-3B8D-3C79-2764EFAD2C9E:f=ArnhemPro-NormalItalic,79FFD680-777D-F4B0-8FFE-043ABAB4969A:f=ArnhemPro-Normal");
@import "compass/css3/transition";
@import "compass/css3/transform";

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul, li, a, p, h1, h2, h3, h4, h5, span { margin: 0; padding: 0; }
::selection, ::-webkit-selection { background: #e6e6e6; color:#000; }
h1, h2, h3, h4, h5 { -webkit-font-smoothing: antialiased; }

body { font-family: "ArnhemPro-Normal", Times, serif; color: #333; padding: 20px; margin: 0; }
ul, li { list-style-type: none; display: inline-block; }

#page { margin: 0 auto; width:100%; }

#logo { display: inline-block; vertical-align: middle; width: 80px; height: 80px; -webkit-transform: translate3d(0,0,0); -webkit-backface-visibility: hidden; }

#nav { width:100%; margin: 0 auto 0 -20px; position: fixed; z-index: 9999; top: 0px; padding: 20px; @include single-transition(all, ease, .2s);
	nav { height:75px; max-width: 1200px; margin: 0 auto;
		h1, li { font:16px/23px "ArnhemPro-Normal", Times, serif; padding: 0px 22px 5px 0; }
		a { text-decoration: none; color:#666; @include single-transition(all, ease, .2s); }
		a.active, a:hover { color:#000; }
		a.name { color:#000; }
		li.heading.active { 
			a { color: #000; }
			ul li a { color:#666; }
		}
	}
}
#nav.top {  top: 70px; @include single-transition(all, ease, .2s); }
#nav:hover { background: rgba(250,250,250,.9); }
#nav.top:hover {  background: transparent; }
.heading ul li a.active { display: block; }


#slider {  height: 100%; width:100%; max-width: 100%; margin: 0 auto; }
#spinnaker, #karelain, #topaz {  height: 100%; width:100%; max-width: 100%; margin: 0 auto 90px; }
.swipe { overflow: hidden; visibility: hidden; position: relative;}
.swipe-wrap { overflow: hidden; position: relative; }
.swipe-wrap > div { float:left; width:100%; position: relative;
	img { width: 100%; max-width: 100%; } 
}

.home .swipe-wrap > div img { opacity: .3; }

#menu { display: inline-block; vertical-align: middle; padding-left: 67px; }
.prev, .next { position: absolute; display: block; top:calc(50% - 20px); width:30px; height:30px; cursor: pointer; }
.prev { left:50px; }
.next { right:50px; }

.prev::before { border-top: 2px solid #000; content:''; top:0; position: absolute; height:1px; width: 100%; @include transform2d(rotate(-45deg) translate(0px, 5px)); @include single-transition(all, ease, .2s); }
.prev::after { border-bottom: 2px solid #000; content:''; bottom:0; position: absolute; height:1px; width: 100%; @include transform2d(rotate(45deg) translate(0px, -5px)); @include single-transition(all, ease, .2s); }
.prev:hover::before { @include transform2d(rotate(-30deg) translate(0px, 7px)); width:100%; }
.prev:hover::after { @include transform2d(rotate(30deg) translate(0px, -8px)); width:100%; }
.prev:active::before { border-top: 2px solid #e6e6e6; }
.prev:active::after { border-bottom: 2px solid #e6e6e6; }

.next::before { border-top: 2px solid #000; content:''; top:0; position: absolute; height:1px; width: 100%; @include transform2d(rotate(45deg) translate(0px, 5px)); @include single-transition(all, ease, .2s); }
.next::after { border-bottom: 2px solid #000; content:''; bottom:0; position: absolute; height:1px; width: 100%; @include transform2d(rotate(-45deg) translate(0px, -5px)); @include single-transition(all, ease, .2s); }
.next:hover::before { @include transform(rotate(30deg) translate(0px, 7px)); width:100%; }
.next:hover::after { @include transform(rotate(-30deg) translate(0px, -8px)); width:100%; }
.next:active::before { border-top: 2px solid #e6e6e6; }
.next:active::after { border-bottom: 2px solid #e6e6e6; }

#about { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top; padding-top: 100px;
	img { max-width: 100%; @include transition(all, ease, .2s); }
}
#about > * { @include transition(all, ease, .2s); }

#collections { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top; padding-top: 100px; margin-bottom: 40px; }

.collections { 
	.swipe-wrap > div { float:left; width:100%; position: relative; text-align: center;
		img { width: 75%; max-width: 100%; } 
		.text { width: 75%; max-width: 100%; background:#1C1C1C; color:#fff; margin: 0 auto; min-height: inherit; }
		.text .left, .text .right { text-align: left; padding: 25px; 
			h3, p { font:16px/23px "ArnhemPro-Normal", Times, serif; -webkit-font-smoothing: antialiased; margin-bottom: 20px; }
		}
	}
}

#stockists { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top; padding-top: 100px; margin-bottom: 40px; }
#map { height: 800px; }
#listing { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top; padding-top: 50px;
	ul { width:49%; vertical-align: top; display:inline-block;
		li { display: block; line-height: 23px;
			&.heading { font-family:"ArnhemPro-Bold", Times, serif ; margin-top:20px; }
		}
	}

	.four { width: 100%; margin-bottom: 60px; padding-left: 150px;
		h4 { display: inline-block; width:100%; margin-bottom: 20px; word-spacing: normal; letter-spacing: normal; font: 19px/25px "ArnhemPro-Bold", Times, serif ; }
		.item { display: inline-block; vertical-align: top; width: 25%; word-spacing: normal; letter-spacing: normal;
			img { display: block; max-width: 100%; margin-bottom: 15px; }
			li { display: block; margin-bottom: 5px; }
			a { text-decoration: none; color: #999; }
		}
	}

	.three { width: 100%; margin-bottom: 60px; padding-left: 135px; 
		.item { display: inline-block; vertical-align: top; width: 33%; word-spacing: normal; letter-spacing: normal; margin-bottom: 60px; }
		li { display: block; padding-left: 15px; }
		img { margin-bottom: 10px; }
		a { @include single-transition(all, ease, 0.2s); }
		a:hover { opacity: 0.8; }
	}

} 

#press { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top; padding-top: 100px; margin-bottom: 40px; }

#shop, #product, #single { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top; padding-top: 140px; margin-bottom: 0px; 
	.left { padding-left: 150px;
		a { text-decoration: none; color:#666; padding-right: 15px; }
		a.active { color:#000; }
	}
}

#single { padding-top: 30px; border-bottom: 1px solid #e6e6e6; padding-bottom: 50px; margin-bottom: 40px;
	.left { width:60%; padding-left: 135px;
		#product-single {
			.next { right:20px; }
			.prev { left:20px; }
		}
	}

	.right { width:40%;
		h2 { font:21px/28px "ArnhemPro-Bold", Times, serif; }
		h3 { font:21px/28px "ArnhemPro-Bold", Times, serif; padding:0; color:#999; margin-bottom: 30px; }
		p { margin-bottom: 30px; }
		em { font-family: "ArnhemPro-NormalItalic", Times, serif; font-style: normal; }
		a.buyme { display: block; padding:12px 10px 10px; color:#fff; background: #000; width: 130px; text-align: center; text-decoration: none; text-transform: uppercase; margin-top: 30px; @include single-transition(all, ease, 0.2s); }
		a.buyme:hover { background:#ff6666; }
		h2, h3, p { padding-left: 60px; padding-right: 100px; }
	}
}


.left { display: inline-block; width:32%; padding: 0 20px 0 0; word-spacing: normal; letter-spacing: normal; vertical-align: top;
	h2 { padding: 20px 0 120px 150px; font:21px/28px "ArnhemPro-Bold", Times, serif; font-weight: normal; letter-spacing: -0.25px; @include single-transition(all, ease, .2s); }
	img { float: right; margin-bottom: 40px; }
}
.right { display: inline-block; width:66%; word-spacing: normal; letter-spacing: normal;
	h3 { font:21px/28px "ArnhemPro-Normal", Times, serif; letter-spacing: -0.2px; padding: 20px 190px 40px 120px; }
	img { width:90%; padding: 30px; max-height: 500px; }
	.text { padding: 20px 240px 100px 120px; 
		p { font:16px/23px "ArnhemPro-Normal", Times, serif; margin-bottom: 30px;}
	}
}


.hovered { opacity: 0.1; @include single-transition(all, ease, 0.2s); }

#contact { max-width:1200px; margin: 0 auto; word-spacing: -0.3em; letter-spacing: -0.3em; vertical-align: top;
	a { text-decoration: none; color: #000; position: relative; }
	
	a::after { opacity:0; position: absolute; content:''; border-bottom: 1px solid #000; width: 100%; height:1px; top:20px; left: 0px; }
	a:hover::after { opacity:1; position: absolute; content:' '; border-bottom: 1px solid #000; width: 100%; height:1px; top:17px; left: 0px; }
}

li > ul { opacity: 0; padding-top: 3px; position: absolute; display: block; @include single-transition(all, ease, 0.2s);
	li { padding: 3px 0; display: block; }
}
li.heading:hover { 
	ul { opacity: 1; position: absolute;  }
}


// Tablet and small desktop schtuff
@media screen and (max-width: 960px) {
	#nav { background: rgba(250, 250, 250, 0.9); }
	#nav.top { top: 0px; }
	body { padding-top: 155px; }
	#about, #collections, #stockists, #press { padding-top: 0px; }
	#collections, #stockists, #press { 
		h2 { padding-top: 0px; } 
	}
	.left { width: 100%;
		h2 { padding-bottom: 0; padding-top: 140px; }
		img { display: none; }
	}
	.right { width: 100%; 
		h3 { padding-left: 150px; padding-bottom: 60px; }
		img { width: 100%; max-height: inherit; }
		.text { padding-left: 150px; padding-right: 170px; }
		ul { padding-left: 150px; }
	}
}

